.info-bar{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}

.user-interface {
    margin: 100px;
    justify-content: center;
    align-items: center;
}

.user-interface ul {
    list-style: none;
}

.user-interface ul li {
    font-size: 22px;
}

.hide {
    display: none;
}

.btn {
    background-color: navy;
    color: white;
    font-size: 22px;
    width: 200px;
    margin-top: 10px;

}